.App {
  background: $primary-color;
  display: flex;
  min-height: 100vh;
  overflow: scroll;
}

html,
body {
  &,
  * {
    cursor: none;
  }
}

input {
  border: none;
  background-color: #fff;
}

svg {
  background-color: inherit !important;
}
