.App {
  background: $primary-color;
  display: flex;
  height: 100vh;
}

html,
body {
  &,
  * {
    cursor: none;
    background-color: $primary-color;
  }
}

input {
  border: none;
  background-color: #fff;
}
